[Unit]
Description=Sadisd

[Service]
ExecStart=/usr/local/bin/sadisd config.yml
WorkingDirectory=/etc/sadis
User=ansible

[Install]
WantedBy=multi-user.target
