queue_directory = /var/spool/postfix
command_directory = /usr/sbin
#daemon_directory = /usr/local/libexec/postfix
data_directory = /var/postfix
mail_owner = postfix
inet_interfaces = all
inet_protocols = all
unknown_local_recipient_reject_code = 550
debug_peer_level = 2
#debugger_command =
#         PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
#         ddd $daemon_directory/$process_name $process_id & sleep 5
sendmail_path = /usr/sbin/sendmail
newaliases_path = /usr/sbin/newaliases
mailq_path = /usr/sbin/mailq
setgid_group = postdrop
html_directory = /usr/local/share/doc/postfix/html
manpage_directory = /usr/local/man
sample_directory = /etc/postfix
readme_directory = /usr/local/share/doc/postfix/readme

# Sentia configuration
myhostname = atb-mx-p01.atbank.nl
smtpd_banner = $myhostname
alias_database = hash:/etc/postfix/aliases
alias_maps = hash:/etc/postfix/aliases
mydestination = $myhostname, localhost.$mydomain, localhost
mynetworks = /etc/postfix/mynetworks
smtp_bind_address = 213.214.121.139
#smtp_bind_address6 = 2a02:2858:202:13::15
transport_maps = hash:/etc/postfix/transport
relay_domains = $transport_maps
smtpd_recipient_restrictions =
    permit_mynetworks
    reject_non_fqdn_sender
    reject_non_fqdn_recipient
    reject_unknown_sender_domain
    reject_unknown_recipient_domain
    reject_rbl_client zen.spamhaus.org
    reject_rbl_client virbl.bit.nl
    reject_rbl_client bl.spamcop.net
    reject_unauth_destination
virtual_alias_maps = hash:/etc/postfix/virtual
bounce_queue_lifetime = 2h
queue_run_delay = 30m
#content_filter = scan:[127.0.0.1]:10025
disable_vrfy_command = yes
message_size_limit = 25000000
#smtpd_tls_cert_file = /etc/postfix/star.atbank.nl.crt
#smtpd_tls_key_file = /etc/postfix/star.atbank.nl.key
3smtpd_tls_CAfile = /etc/postfix/digicert.crt
#smtpd_tls_security_level = may
#smtp_tls_security_level = may
#smtp_tls_loglevel = 1
#smtp_tls_policy_maps = hash:/etc/postfix/tls_policy
#smtpd_tls_loglevel = 1
#smtpd_tls_protocols = !SSLv2, !SSLv3
#smtpd_tls_mandatory_protocols = !SSLv2, !SSLv3
{% if postfix_relayhost is defined %}
	relayhost = {{ postfix_relayhost }}
{% endif %}
