#add more data
& "{{ octopus.installdir }}\Tentacle.exe" service --instance "{{ octopus.tentacleinstance }}" --stop --uninstall --console
& "{{ octopus.installdir }}\Tentacle.exe" delete-instance --instance "{{ octopus.tentacleinstance }}" --console
remove-item {{ octopus.tentaclehomedir }}