#add
& "{{ octopus.installdir }}\Tentacle.exe" service --instance "{{ octopus.tentacleinstance }}" --stop --uninstall
& "{{ octopus.installdir }}\Tentacle.exe" delete-instance --instance "{{ octopus.tentacleinstance }}"