
module nagios_config_check 1.0;

require {
	type nagios_t;
	type nagios_initrc_exec_t;
	class capability chown;
	class file { read execute open getattr execute_no_trans };
}

#============= nagios_t ==============
allow nagios_t nagios_initrc_exec_t:file execute_no_trans;

#!!!! This avc is allowed in the current policy
allow nagios_t nagios_initrc_exec_t:file { read execute open getattr };

#!!!! This avc is allowed in the current policy
allow nagios_t self:capability chown;
