** This system is property of Sentia BV **

Access without authorization to this system is strictly
forbidden. All activity on and/or through this system
may be monitored. In case of criminal activity, logs
will be provided to law-enforcement officials.
Employees should follow company policies on this 
system.

OS          : {{ ansible_distribution }} {{ ansible_distribution_version }}
Hostname    : {{ ansible_hostname }}
IP address  : {{ ansible_default_ipv4.address }}
System type : {{ ansible_system }}