### This syslog-ng configuration file is under Ansible control ###

source s_network {
    udp(ip(0.0.0.0) port(514));
};

{% for client in syslog_ng_clients %}
{% if client['comment'] is defined %}
## {{ client['comment'] }}
{% endif %}
filter f_{{ client['foldername'] }} {
  {%- for net in client['networks'] %}
    {%- if loop.first -%}{{ ' ' }}netmask("{{ net }}")
    {%- else -%}{{ ' ' }}or netmask("{{ net }}")
    {%- endif -%}
  {% endfor %}; };
destination d_{{ client['foldername'] }} { file("{{ syslog_ng_root }}/{{ client['foldername']}}/{{ client['foldername']}}-$YEAR-$MONTH-$DAY"); };
log { source (s_network); filter(f_{{ client['foldername'] }}); destination(d_{{ client['foldername'] }}); };
##

{% endfor %}
