NameVirtualHost *:80

<VirtualHost *:80>
    ServerName {{ item.servername }}
    DocumentRoot /var/www/html/{{ item.documentrootdir }}
    ServerAdmin {{ item.serveradmin }}
    ErrorLog logs/{{ item.errorlog }}-error_log
    CustomLog logs/{{ item.customlog }}-access_log common

    {% if item.redirect_to is defined %}
    Redirect {{ itrem.redirect_from }} {{ item.redirect_to }}
    access_log {{ vhost.access_log }};
    {% endif %}

    <Directory /var/www/html/{{ item.documentrootdir }}>
{% for option in item.options %}
        Options None
    </Directory>

{% include "files/apache/mod_rewrite/" + item.documentrootdir + ".conf" ignore missing %}

</VirtualHost>
